* {
	font-family: "Lucida Sans Unicode";
	margin: 0;
	padding: 0;
}

body{
	/*
	background-image: url("./img/header-fill.jpg");
	background-repeat: repeat;
	*/
	background-color: #003b61;
}

#fading {
	display: inline-block;
	background-image: url("./img/landing.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
	background-position: top;
	background-size: 100% auto;
}

#fading img{
	width: 100%;
	height: auto;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
  	position: fixed;
    width: 100%;

    background-color: #003b61;
	background-repeat: repeat;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
 }

.clearfix { display: inline-block; }
/* start commented backslash hack \*/

* html .clearfix { height: 1%; }

.clearfix { display: block; }
/* close commented backslash hack */

/*********
* HEADER *
**********/
#header {
	background-color: #003b61;
	background-repeat: repeat;
	height: 6rem;
}

#logo {
	position: absolute;
	left: 39%;
	display: inline-block;
	width: 20%;
	height: 6rem;
	background-image: url("./img/LogoRocktopusmetdatum.png"); /* 03s*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%; /* 3: 100% 100% */
}

#menu-left{
	position: absolute;
	left: 0%;
	display: inline-block;
	width: 39%;
	height: 6rem;
}

#menu-right{
	position: absolute;
	right: 0%;
	display: inline-block;
	width: 39%;
	height: 6rem;
}

#menu ul {
	width: 100%;
	height: 100%;
	margin: auto;
	position: center;
}

.menuitem {
	display: inline-block;
	width: 49%;
	text-align: center;
	margin-top: 3.0rem;
	font-size: 1.2rem;
}


.menuitem a{
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: #f3e95d;
}


.menuitem a:hover{
	color: #f3e95d;
}

.menuitem > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.7px;
  bottom: 0;
  left: 0;
  background-color: #f3e95d;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.menuitem a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#selected > a:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/**********
* IMGTEST *
***********/
#affiche {
	/*background-image: url(../img/landing.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 60rem;*/
}

.first{
	margin-top: 6rem;
}

/************
* SLIDESHOW *
*************/
#slideshow{
	display: inline-block;
	width: 100%;
	margin-top: 6rem;
}

#buttons{
	text-align: center;
	width: 10%;
	margin: 0% 45%;
}

.w3-button{
	display: inline-block;
	width: 25%;
}

#slideshow img{
	display: inline-block;
	width: 100%;
}


#affiche h1{
	margin-left: 1rem;
	font-family: "Britannic Bold";
	color: #003b61;
	font-weight: bold;
	text-transform: uppercase;
}

#bands {

	float: left;
	width: 100%;
}

#banner {
	position: absolute;
	width: 100% ;
	z-index: -1;
}

.pageblock {
	display: inline-block;
	width: 50%;
	float: left;
}

.pageblock img {
	z-index: 1;
	display: inline-block;
	float: left;
	width: 100%; /*10rem*/
	height: auto; /*10rem*/
	/*border-radius: 2rem;*/
	-webkit-filter: grayscale(0%) brightness(70%);
	-webkit-transition: .5s ease-in-out;
	-moz-filter: grayscale(0%) brightness(70%); 
	-moz-transition: .5s ease-in-out;
	-o-filter: grayscale(0%) brightness(70%); 
	-o-transition: .5s ease-in-out;
}

.pageblock img:hover {
	-webkit-filter: grayscale(0%) brightness(100%);
	-webkit-transition: .5s ease-in-out;
	-moz-filter: grayscale(0%) brightness(100%);
	-moz-transition: .5s ease-in-out;
	-o-filter: grayscale(0%) brightness(100%);
	-o-transition: .5s ease-in-out;
}

.pageblock {
	display: inline-block;
	width: 50%;
	float: left;
}



.banditem img {
	z-index: 1;
	display: inline-block;
	float: left;
	width: 50%; /*10rem*/
	height: auto; /*10rem*/
	/*border-radius: 2rem;*/
	-webkit-filter: grayscale(100%) brightness(70%);
	-webkit-transition: .5s ease-in-out;
	-moz-filter: grayscale(100%) brightness(70%); 
	-moz-transition: .5s ease-in-out;
	-o-filter: grayscale(100%) brightness(70%); 
	-o-transition: .5s ease-in-out;
}

.banditem img:hover {
	-webkit-filter: grayscale(0%) brightness(100%);
	-webkit-transition: .5s ease-in-out;
	-moz-filter: grayscale(0%) brightness(100%);
	-moz-transition: .5s ease-in-out;
	-o-filter: grayscale(0%) brightness(100%);
	-o-transition: .5s ease-in-out;
}

.banditem .show {
	float: left;
	width: 100%;
	height: 1rem;
	margin-top: 0rem;
	padding: 0% 5%;
}

.show{ 
	float: left;
	visibility: hidden;
	font-weight: bold;
	padding-left: 1rem;

}

.banditem:hover .show{
	visibility: visible;
}


/***********
* FULLBAND *
************/


.fullband img {
	width: 20%;
	display: inline-block;
}

.fullband p {
	width: 79%;
	float: right;
	display: inline-block; 
	padding: 0 0;
	margin: 0 0 ;
}

.fullband h2 {
	font-size: 1.5rem;
	font-variant: small-caps;
	font-weight: bold;
}

.fullband #title {
	display: block;
}

.fullband #title h1 {
	display: block;
	float: left;
	width: 90%;
	font-size: 3rem;	
}

.fullband #title img{
	display: block;
	float: right;
	width: 3rem;
	height: 3rem;
	margin: 2rem 1rem;
}

#praktisch h2{
	color: #f3e95d; /*003b61*/
}

#praktisch h3{
	color: #f3e95d; /*003b61*/
}

#praktisch {
	margin-left: 1rem;
}

#praktisch div{
	margin-bottom: 1rem;
}

#praktisch p {
	margin-bottom: 1rem;
}

#praktisch #kaart{
	width: 20%;
}

#bestelknop {
	display: inline-block;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	border-radius: 8px;
	color: #f3e95d;
	margin-top: 0.5rem;
	font-weight: bold;
}

#bestelknop:hover {
	background-color: #f3e95d;
}
#bestelknop:hover a{
	color: #003b61;
}

div p {
	display: block;
	color: white;
	background-color: rgba(0, 59, 97, 1);
	font-size: 1rem;
}

#praktisch a {
	color: #f3e95d;
	text-decoration: none;
}

#praktisch li {
	color: white;
	margin-left: 2rem;
	list-style-type: square;
}

#praktisch span{
	color: #f3e95d;
}

#praktisch .anchor{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#bandpage {
	/*background-color: red;*/
}

#bandpage img {
	width: 100%;
}

#bandinfo {
	display: inline-block;
	margin-left: 1rem;
	width: 64%;
	float: left;
}

#bandinfo p{
	margin-top: 1rem;
}

#bandvideo {
	display: inline-block;
	width: 34%;
	text-align:center;
}

#bandvideo iframe {
	display: inline-block;
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
}

#bandinfo .icon {
	margin-top: 1rem;
	margin-right: 1rem;
	height: 3rem;
	width: auto;
}

footer{
	background-color: #003b61;
	background-repeat: repeat;
	display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer img{
	width: 6%; 
	height: 6rem; /*14%*/
	margin-left: 1.5%; /*5%*/
	margin-top: 2rem; /*3rem*/
}